<div class="jumbotron">
    <h1>Registry Project</h1>
    <p class="lead">Available APIs</p>
    <ul>
        <li>Publishing</li>
        <li>Unpublishing</li>
        <li>Searching</li>
        <li>Retrive all</li>
    </ul>

</div>

