<div class="jumbotron">
    <h1>Service Provider Project</h1>
    <p class="lead">Available APIs</p>
    <ul>
        <li>AddTwoNumbers</li>
        <li>AddThreeNumbers</li>
        <li>MulTwoNumbers</li>
        <li>MulThreeNumbers</li>
        <li>GeneratePrimeNumberstoValue</li>
        <li>GeneratePrimeNumbersinRange</li>
        <li>IsPrimeNumber</li>
    </ul>
    <p class="lead">Services are published and unpublished via Service Handler Console App</p>

</div>